<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users</title>
</head>
<body>

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="user-info col-sm text-light bg-dark">
            <b><span id="authUserEmail"></span></b>
            <span>with roles:</span>
            <span id="authUserRoles"></span>
        </div>

        <!--Кнопка Logout-->
        <div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a type="button" class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<!--Вкладка-->
<div class="row mt-3">
    <div class="left-tab col-2">
        <div class="list-group">
            <a class="admin-panel list-group-item active" aria-current="true" th:href="@{/admin}">Admin</a>
            <a class="list-group-item" aria-current="true" th:href="@{/user}">User</a>
        </div>
    </div>
    <!--                                    Навигация-->
    <div class="col">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="page-header">
                <h2>Admin panel</h2>
            </div>


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">New user</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <!--    Таблица пользователей-->
                <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card">
                        <h5 class="card-header">All users</h5>
                        <div class="card-body">
                            <table class="user-table table table-striped table-sm">

                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="user_table">
                                </tbody>
                            </table>


                            <!--                МОДАЛЬНОЕ ОКНО Edit-->

                            <div class="modal" role="dialog" aria-labelledby="exampleModalLabel" id="editModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">


                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal"></button>
                                        </div>


                                        <div class="modal-body">
                                            <div class="col-lg-8 mx-auto">
                                                <form id="formEdit">

                                                    <!--                                            ПОЛЕ ID-->

                                                    <div class="modal-body  text-center">
                                                        <div class="form-group">
                                                            <label for="idEdit"><b>ID</b></label>
                                                            <input class="form-control" type="text" name="id"
                                                                   id="idEdit" disabled="">
                                                        </div>

                                                        <!--                                                                                                                    ПОЛЕ FIRST NAME-->

                                                        <div class="form-group">
                                                            <label for="firstNameEdit"><b>First name</b></label>
                                                            <input class="form-control" type="text" name="firstName"
                                                                   id="firstNameEdit">
                                                        </div>

                                                        <!--                                                ПОЛЕ LAST NAME-->

                                                        <div class="form-group">
                                                            <label for="lastNameEdit"><b>Last name</b></label>
                                                            <input type="text" name="lastName"
                                                                   class="form-control" id="lastNameEdit">
                                                        </div>

                                                        <!--                                                ПОЛЕ AGE-->

                                                        <div class="form-group">
                                                            <label for="AgeEdit"><b>Age</b></label>
                                                            <input type="number" name="age"
                                                                   class="form-control" id="ageEdit">
                                                        </div>
                                                        <!---->
                                                        <!--                                                                                                                    ПОЛЕ EMAIL-->

                                                        <div class="form-group">
                                                            <label for="emailEdit"><b>Email</b></label>
                                                            <input type="email" name="email"
                                                                   class="form-control" id="emailEdit">
                                                        </div>

                                                        <!--                                                ПОЛЕ PASSWORD-->

                                                        <div class="from-group">
                                                            <label for="passwordEdit"><b>Password</b></label>
                                                            <input type="password" class="form-control"
                                                                   id="passwordEdit"
                                                                   name="password"
                                                                   minlength="3"
                                                                   maxlength="20">
                                                        </div>

                                                        <div class="form-group">
                                                            <p>
                                                                <label for="roleEdit"><b>Roles</b></label>
                                                                <select name="roles" multiple=""
                                                                        class="custom-select"
                                                                        id="roleEdit"
                                                                        size="2">
                                                                    <option id="roleUserEdit" value="2">USER</option>
                                                                    <option id="roleAdminEdit" value="1">ADMIN</option>
                                                                </select>
                                                            </p>
                                                        </div>

                                                        <div class="container-fluid button-right">
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-dismiss="modal"
                                                                        id="closeEdit">Close
                                                                </button>
                                                                <button type="submit" id="userEdit"
                                                                        class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                МОДАЛЬНОЕ ОКНО DELETE-->

                        <div class="modal" role="dialog" aria-labelledby="exampleModalLabel" id="deleteModal">

                            <div class="modal-dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="col-lg-8 mx-auto">
                                                <form class="form-delete-user" id="formDeleteUser">

                                                    <!--                                                                ID-->

                                                    <div class="modal-body  text-center">
                                                        <div class="form-group">
                                                            <label for="deleteId"><b>ID</b></label>
                                                            <input type="text" readonly id="deleteId"
                                                                   name="userId"
                                                                   class="form-control"
                                                                   disabled>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="deleteFirstName"><b>First
                                                                name</b></label>
                                                            <input type="text" readonly name="firstName"
                                                                   class="form-control" id="deleteFirstName"
                                                                   disabled>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="deleteLastName"><b>Last
                                                                name</b></label>
                                                            <input type="text" readonly name="lastName"
                                                                   class="form-control" id="deleteLastName"
                                                                   disabled>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="deleteAge"><b>Age</b></label>
                                                            <input type="number" readonly name="age"
                                                                   class="form-control" id="deleteAge"
                                                                   disabled>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="deleteEmail"><b>Email</b></label>
                                                            <input type="email" readonly name="email"
                                                                   class="form-control" id="deleteEmail"
                                                                   disabled>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="deleteUserRoles"><b>Roles</b></label>
                                                            <select
                                                                    multiple
                                                                    class="custom-select" id="deleteUserRoles"
                                                                    name="userRoles"
                                                                    size="2"
                                                                    disabled>
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="container-fluid">
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal"
                                                                    id="buttonCloseDelete">Close

                                                            </button>
                                                            <button type="submit"
                                                                    class="delete-user btn btn-danger" id="buttonDelete"
                                                                    onclick="deleteUser()">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--            ДОБАВЛЕНИЕ НОВОГО ПОЛЬЗОВАТЕЛЯ-->

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card">
                        <h5 class="card-header">Add new user</h5>
                        <div class="card-body">

                            <div class="container text-center">
                                <div class="col-lg-4 mx-auto">

                                    <form id="addUserForm">
                                        <div class="form-group">
                                            <label for="addFirstName" class="font-weight-bold">First name</label>
                                            <input type="text" class="form-control"
                                                   id="addFirstName" name="AddFirstName"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <label for="addLastName" class="font-weight-bold">Last Name</label>
                                            <input type="text" class="form-control"
                                                   id="addLastName" name="addLastName">
                                        </div>

                                        <div class="form-group">
                                            <label for="addAge" class="font-weight-bold">Age</label>
                                            <input type="number" class="form-control"
                                                   id="addAge" name="addAge">
                                        </div>

                                        <div class="form-group">
                                            <label for="addEmail" class="font-weight-bold">Email</label>
                                            <input type="email" class="form-control"
                                                   id="addEmail" name="addEmail">
                                        </div>

                                        <div class="form-group">
                                            <label for="AddPassword" class="font-weight-bold">Password</label>
                                            <input type="text" class="form-control"
                                                   id="addPassword" name="addPassword">
                                        </div>

                                        <div class="form-group">
                                            <label for="addRole" class="font-weight-bold">Role</label>
                                            <select multiple class="custom-select" size="2"
                                                    id="addRole" name="addRole" required="">
                                                <option value="1">ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success" value="Add new user"
                                                onclick="createNewUser()">Add new user
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/js/curUser.js"></script>
<script src="/js/showUserTable.js"></script>
<script src="/js/editModal.js"></script>
<script src="/js/deleteModal.js"></script>
<script src="/js/addNewUser.js"></script>


</body>
</html>