<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>
<body>
<div>
<!--    <h3 th:text="${pageContext.request.userPrincipal.name}"></h3>-->
    <sec:authorize access="!isAuthenticated()">
        <h4><a href="/login">Войти</a></h4>
<!--        <h4><a href="/registration">Зарегистрироваться</a></h4>-->
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </sec:authorize>
    <h4><a href="/user">Home</a></h4>
    <h4><a href="/admin">Админ</a></h4>
</div>
</body>
</html>